<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div id="app">
    <p>
      {{ message }}
    </p>
    <div style="border: 1px solid #000;" v-bind:class="!estaChequeado ? 'hayUnError': 'estaBien'">
      <p>Comodín</p>
      <div v-html="codigoHtml"></div>
    </div>
    <input type="checkbox" v-model="estaChequeado">
    <button v-show="mostrarBoton">Enviar</button>

    <div class="contadorContainer">
      <p v-if="contador > 5">El contador es mayor a 5 ({{contador}})</p>
      <p v-if="contador == 5">El contador es igual a 5 ({{contador}})</p>
      <p v-if="contador < 5">El contador es menor a 5 ({{contador}})</p>
    </div>

    <div class="listaContenedor">
      <ul>
        <li v-for="item in listaDeElementos">El elemento de la lsita es: {{item}}</li>
      </ul>
    </div>
  </div>



  <script src="script.js"></script>




  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
</body>

</html>